body{
    font-family: Helvetica;
    max-width: 500px;
    margin: 0 auto;
}
header{
    display: flex;
    background-color: orangered;
    height: 50px;
    color: white;
    font-size: 20px;   
    justify-content: center;
    align-items: center;      
}
main{
    margin: 20px;
}
option{
    background-color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
#genero{
    background-color: rgb(212, 212, 212);
    margin: 0 15px;
}

#hobby{
    margin: 0 8px;
    min-width: 80px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    align-items: center;
    padding-right: 15px;   
    border: none;
    margin: 15px 0;
}
.box img{
    margin: 10px 15px;
}
.texto{
    flex: 3;
}


